.container
  %ul
    - article.errors.full_messages.each do |message|
      %li= message
  = form_with(model: article, url:articles_path ,method: 'post', local: true) do  |f|
    %div
      = f.label :title, 'Title '
    %div
      = f.text_field :title,class: 'text'
    %div
      = f.label :title, 'いつまでになにをする？ '
    %div
      = f.text_area :content
    = f.submit 'Submit',class: 'btn-primary'
