.container
  .tabs
    .identical
      All Boards
    .aaa
      = link_to 'Brackets', root_path
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_image
          = image_tag 'Oval4.svg'
        .card_content
          .card_title
            = board.title
          .card_detail
            = image_tag 'Oval4.svg'
            %div
              %p cohki0305
              %p 2020/4/16
  = link_to new_board_path	do
    .float-btn
      .add
        + Add new card
